@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ptsans.woff') format('woff'), url('../fonts/ptsans.woff2') format('woff2');
    src: local('PT Sans'), local('PTSans-Regular');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ptsansbold.woff') format('woff'), url('../fonts/ptsansbold.woff2') format('woff2');
    src: local('PT Sans Bold'), local('PTSans-Bold');
}
body {
    font-family: 'PT Sans', 'Tahoma', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 1200px;

    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.footer-social ul,
.displayed-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
.main-header-index {
    position: absolute;
    top: 0px;
    z-index: 3;
    background-color: #fff;
    width: 100%;
    padding-bottom: 13px;
    /*box-shadow: 0 0px 8px rgba(0, 1, 1, 0.2);*/
}
.main-header {
    max-width: 1200px;
    padding-bottom: 13px;
 
}
.site-logo {
    position: absolute;
    top: 0;
    left: 531px;
    width: 138px;
    height: 70px;
}
.site-logo a {
    display: inline-block;
    width: 138px;
    height: 70px;
}
.site-logo-hotels {
    top: 0;
    left: 606px;
}
 .main-nav {
    padding: 0 6%;
}
.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 14px;
    font-size: 0;
    width: 40%;
}
.main-nav li {
    display: inline-block;
    font-size: 14px;
    width: 50%;
}
.main-nav a {
    line-height: 26px;
    font-weight: bold;
    color: #000    
}
.main-nav a.active-page {
    color: #766357;
}
.main-nav a:hover {
    color: #81b3d2;
}
.main-nav a:active {
    opacity: 0.3;
}
.main-nav-left {
    float: left;
}
.main-nav-right {
    float: right;
}
.main-nav-left li {
    text-align: left;
}
.main-nav-right li {
    text-align: right; 
}

.welcome-block-text h1,
.visitsedona a,
.housing-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}
.welcome-block-text h1 {
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 27px;
}
.welcome-block-text p {
    line-height: 26px;
    margin: 0;
    text-align: center;
}
.welcome-block {
    position: relative;
    width: 100%;
    height: 564px;
    overflow: hidden;
    margin-bottom: 4px;
}
.welcome-block-text-wrapper {
    padding-top: 56px;
    padding-bottom: 51px;
}
.welcome-block-text {
    max-width: 570px;
    margin: 0 auto;
    padding: 0 20px;
}
.main-for-index {
    position: relative;
}
/*marker*/

/* * { 
      outline: 1px dashed #f0f;
  } */ 

.info-block-first {
    width: 100%;
    min-height: 256px;
    background-image: url('../img/infoblock_img1.jpg');
    background-repeat: no-repeat;
    background-size: 800px 256px;
    background-position: 400px;
}
.info-block-second {
    width: 100%;
    min-height: 256px;
    background-image: url('../img/infoblock_img2.jpg');
    background-repeat: no-repeat;
    background-size: 800px 256px;
}

.info-block .text-block {
    width: 33.4%;
    padding-top: 52px;
    padding-bottom: 32px;
    background-color: #81b3d2;
    color: #fff;
}
.info-block-second .text-block {
    float: right;
    padding-bottom: 33px;
        
}

.info-block .text-block h3 {
    width: 170px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
}

.info-block .text-block p {
    width: 280px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 21px;
}

.info-block-second .text-block p:first-of-type {
    margin-bottom: 20px;
}
.info-block-second .text-block p:last-of-type {
    width: 320px;
}
.features-block .feature-item {
    position: relative;
    width: 33.3%;
    padding-top: 141px;
}
.features-block .feature-item:first-child::before {
    position: absolute;
    top: 60px;
    left: 162px;
    content: "";
    width: 75px;
    height: 72px;
    background: url('../img/spritesheet.png') no-repeat;
    background-position: -5px -166px;
}
.features-block .feature-item:nth-child(2)::before {
    position: absolute;
    top: 61px;
    left: 164px;
    content: "";
    width: 74px;
    height: 70px;
    background: url('../img/spritesheet.png') no-repeat;
    background-position: -5px -86px;
}
.features-block .feature-item:last-child::before {
    position: absolute;
    top: 56px;
    left: 168px;
    content: "";
    width: 64px;
    height: 76px;
    background: url('../img/spritesheet.png') no-repeat;
    background-position: -5px -248px;
}
.features-block {
   min-height: 330px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.features-block .feature-item:first-child {
    float: left;
}
.features-block .feature-item:nth-child(2) {
    float: left;

}
.features-block .feature-item:nth-child(3) {
    float: right;
}
.features-block .feature-item h3, 
.features-block .feature-item p {
    text-align: center;
}
.features-block .feature-item:nth-child(2) h3 {
}

.features-block .feature-item p {
    width: 300px;
    margin: 0 auto;
}
.features-info-block {
    background-color: #eee;
}
.features-info-block .feature-info-item h3 {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 160px;
    text-align: center;
}
.features-info-block .feature-info-item p:first-of-type {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 160px;
    text-align: center;
}


.features-info-block .feature-info-item p:last-of-type {
    margin: 0 auto;
    text-align: center;
    width: 260px;
}
.features-info-block .feature-info-item {
    width: 33.3%;
    padding-top: 47px;
    padding-bottom: 59px;
}
.features-info-block .feature-info-item:first-child {
    float: left;
}
.features-info-block .feature-info-item:nth-child(2) {
    float: left;
}
.features-info-block .feature-info-item:last-child {
    float: right;
}
.search-block {
    padding-top: 55px;
    position: relative;
}
.search-block h2 {
    width: 299px;
    margin: 0 auto;
    margin-bottom: 31px;
}
.search-block p {
    width: 435px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 47px;
}
.search-block .btn-hotels {
    display: inline-block;
    font-size: 21px;
    color: #fff;
    text-align: center;
    width: 568px;
    height: 86px;
    line-height: 86px;
    background-color: #766357;
    margin: 0 316px;
}
.hotel-search {
    position: absolute;
    left: 316px;
    width: 454px;
    font-size: 14px;
    font-weight: 700;
    padding: 55px 57px;
    background: #fff;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.hotel-search form {
}
.hotel-search input {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    font-weight: inherit;
    text-transform: inherit;
    width: 331px;
    height: 38px;
}
.hotel-search input:hover:not(.btn-search) {
    background-color: #ebebeb;
}
.hotel-search input:focus:not(.btn-search) {
    background-color: #fff;
    border: 2px solid #e5e5e5;
    width: 327px;
    height: 34px;
}
.hotel-search .input-area input:focus {
    background-color: #fff;
    border: 2px solid #e5e5e5;
    width: 95px;
    height: 34px;    
}
.hotel-search .icon {
    position: absolute;
    top: 22%;
    left: 94%;
    display: inline-block;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -5px -5px;
    font-size: 0;
    width: 21px;
    height: 22px;
}
.hotel-search .icon:hover {
    background-image: url('../img/calendar_hover.png');
    background-repeat: no-repeat;
    background-position: 0 0 ;
}
.hotel-search .icon:active {
    background-image: url('../img/calendar_active.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.hotel-search .input-wrapper {
    position: relative;
    margin-bottom: 30px;
}
.hotel-search .input-wrapper:nth-of-type(2) {
}
.hotel-search label {
    margin-right: 16px;
}
.hotel-search .input-wrapper:nth-of-type(2) label {
    margin-right: 12px;
}
.hotel-search .input-area {
    width: 114px;
}
.hotel-search .input-area {
    float: right;
}
.hotel-search .input-area input {
    width: 99px;
    padding: 0;
    text-align: center;
}
.hotel-search .input-wrapper:nth-of-type(3) {
    font-size: 0;
    margin-bottom: 53px;
}
.hotel-search .input-wrapper:nth-of-type(3) div {
    display: inline-block;
    font-size: 14px;
}
.hotel-search .adult-block,
.hotel-search .children-block {
    width: 50%;
}
.hotel-search .children-block {
}
.hotel-search .adult-block label,
.hotel-search .children-block label {
    display: inline-block;
    margin-top: 8px;
}
.hotel-search .children-block label {
    margin-left: 50px;
}
.hotel-search .btn-search {
    width: 100%;
    height: 58px;
    line-height: 58px;
    color: #fff;
    font-size: 21px;
    padding: 0;
    background-color: #81b3d2;
    cursor: pointer;
}
.hotel-search .btn-search:hover {
    background-color: #669ec0;
}
.hotel-search .btn-search:active {
    background-color: #5496bd;
    color: #94b9d2;
}
.hotel-search .form-btn {
    display: inline-block;
    position: absolute;
    top: 18%;
    font-weight: 700;
    font-size: 25px;
    color: #a9a9a9;
}
.hotel-search .form-btn:hover {
    color: #000;
}
.hotel-search .form-btn:active {
    color: #81b3d2;
}
.hotel-search .adult-block .btn-minus {
    left: 27%;
}
.hotel-search .adult-block .btn-plus {
    left: 42%;
}
.hotel-search .children-block .btn-minus {
    left: 78%;
}
.hotel-search .children-block .btn-plus {
    left: 92%;
}
.footer-hotels {
    width: 1200px;
    padding-top: 37px;
    padding-bottom: 35px;
}
.footer-index {
    position: absolute;
    top: 2642px;
    z-index: 3;
    background-color: #fff;
    opacity: 0.9;
    width: 1200px;
    padding-top: 37px;
    padding-bottom: 35px;
}
footer { 
    font-size: 0;
}
footer section {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: 33.3%;
    text-align: center;
}

.visitsedona {
    margin-top: 9px;
}

.footer-social {
}
.footer-social ul {
    font-size: 0;

}
.footer-social li {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    margin-right: 5px;
}
.footer-social li:hover {
    background-color: #669ec0;
}
 .footer-social li:active {
    background-color: #5496bd;
}

.footer-social .social-btn {
    position: absolute;
    display: block;
    width: 46px;
    height: 48px;
}
.footer-social .twt-btn {
    top: 16px;
    left: 14px;
    display: block;
    width: 17px;
    height: 15px;
    background: url('../img/spritesheet.png') no-repeat -5px -360px;
}
.footer-social li:active .twt-btn,
.footer-social li:active .fb-btn,
.footer-social li:active .yt-btn {
    opacity: 0.3;
        
}
.footer-social .fb-btn {
    top: 12px;
    left: 18px;
    display: block;
    width: 10px;
    height: 19px;
    background: url('../img/spritesheet.png') no-repeat -5px -57px;
}
.footer-social .yt-btn {
    top: 15px;
    left: 14px;
    display: block;
    width: 20px;
    height: 16px;
    background: url('../img/spritesheet.png') no-repeat -5px -334px;
}
.footer-social .link {
    display: block;
    width: 46px;
    height: 48px;
    z-index: 3;
}
.footer-social li:last-child {
    margin: 0;
}
.footer-copyright {
}
.footer-copyright span {
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    margin-right: 7px;
}
.footer-copyright a {
    position: relative;
    display: inline-block;
}
.footer-copyright a::after {
     content: "";
     display: inline-block;
     position: absolute;
     top: 0;
     left: 0;
     width: 113px;
     height: 39px;
     background-image: url('../img/cpyright_hover.png');
     background-repeat: no-repeat;
     display: none;
} 

.footer-copyright a:hover::after {
    display: inline-block;
}
.footer-copyright a:active img {
    opacity: 0.3;
}
.footer-copyright a:active::after {
    opacity: 0.3;
}



.visitsedona a {
    color: #000;
}
.welcome-block p,
.footer-copyright span {
    line-height: 26px;
}
.search-block p {
    line-height: 24px;
}
.search-block h2 {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}
.features-info-block .feature-info-item p {
    font-size: 14px;
}
.text-block h3,
.feature-item h3,
.feature-info-item h3 {
    font-size: 21px;
    font-weight: 700;
}
.filter-block legend,
.cost-per-day legend {
    font-size: 16px;
    font-weight: 700;
}

/* HOTELS page ==============================================================================================================*/

.filters-block-wrapper legend {
    margin: 0;
    margin-bottom: 24px;


}
.filters-block-wrapper {
    width: 1200px;
    color: #fff;
    background-image: url("../img/filter_background.jpg");
    margin-bottom: 30px;
}

.filters-block-wrapper .filter-form {
    padding: 0 71px;
    padding-top: 27px;
    padding-bottom: 7px;

}
.filter-form input[type="checkbox"] {
    display: none;
}
.filter-form input[type="checkbox"] + label {
    position: relative;
}
.filter-form input[type="checkbox"] + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-image: url('../img/checkbox.png');
    background-repeat: no-repeat;
}

.filter-form input[type="checkbox"]:checked + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 22px;
    background-image: url('../img/checkbox_checked.png');
    background-repeat: no-repeat;
}
.filter-form input[type="checkbox"]:checked + label::before {
    display: none;
}
.filters-block-wrapper .filter-form fieldset {
    vertical-align: top;
}

.filter-form fieldset h4 {
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}
.filters-block-wrapper .filter-form .filter-block {
    width: 140px;
}
.filters-block-wrapper fieldset:first-child {
    float: left;
    margin-right: 115px;
}
.filters-block-wrapper fieldset:nth-child(2) {
    float: left;
}
.filters-block-wrapper fieldset:last-child {
    float: right;
   
}

.filters-block-wrapper .filter-block label {
    display: inline-block;
    font-size: 0;
    width: 100px;
    margin: 0;
    padding-left: 40px;
    margin-bottom: 24px;
    cursor: pointer;
}
.filters-block-wrapper .filter-form fieldset,
.filters-block-wrapper .filter-block label {
    font-size: 14px;
}

.filters-block-wrapper .cost-per-day {
    width: 330px;
}
.cost-per-day legend {
    margin-bottom: 9px;

}
.filters-block-wrapper .cost-per-day .price-range {
    position: relative;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 0;
}
.cost-per-day .price-range:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cost-per-day .price-range label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
    width: 90px;
    padding-left: 65px;
}
.filters-block-wrapper .cost-per-day input {
    width: 50px;
    margin: 0;
    background: none;
    border: 0;
    font: inherit;
    color: inherit;
    padding: 0px 5px;
}
/* double-filter*/

.range-controls {
    position: relative;
    height: 35px;
    width: 325px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}
.scale {
    margin-top: 20px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.bar {
    height: 2px;
    background: #fff;
}
.toggle {
    position: absolute;
    top: 11px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}
.toggle:hover {
    background: #1c4f80;
}
.min-toggle {
    left: 0px;
}
.max-toggle {
    left: 80%;
}
/* ---------------*/
.filters-block-wrapper .filter-form {
    position: relative;
}
.cost-per-day .btn-show {
    display: block;
    font:inherit;
    text-transform: uppercase;
    padding: 6px 35px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
    background: transparent;
    border: 2px solid white;
    border-radius: 2px;
    margin: 0 auto;
    cursor: pointer;
}
.cost-per-day .btn-show:hover {
    color: #000000;
    background: #ffffff;
}
.search-content .info-search {
    font-size: 0;
    padding: 0 71px;
    margin-bottom: 25px;
}
.search-content .info-search div {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}
.search-content .info-search .total-found {
    margin-right: 48px;
}
.search-content .info-search .sorting-block {
    font-size: 12px;
    margin-top: 5px;
}
.info-search .sorting-block .sorting {
    font-size: 12px;
}
.search-content .sorting-block a:first-of-type {
    padding: 0 33px 0 35px;
}
.search-content .sorting-block a:nth-of-type(2) {
    padding: 0;
}
.search-content .sorting-block a:last-of-type {
    padding: 0 30px;
}
.sorting-block .byprice:hover,
.sorting-block .bytype:hover,
.sorting-block .byrating:hover {
    color: #81b3d2;
}
.sorting-block .byprice:active,
.sorting-block .bytype:active,
.sorting-block .byrating:active {
    color: black;
    text-decoration: none;
}

.search-content .info-search .sorting-toggles {
    float: right;
    font-size: 0px;
    margin-top: 10px;
    vertical-align: top;
}
.search-content .sorting-toggles a {
    display: inline-block;
    vertical-align: top;
}
.search-content .sorting-toggles a:first-child {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 10px 5.5px;
    border-color: transparent transparent #cccccc transparent;
}
.search-content .sorting-toggles a:last-child {
    width: 0;
    height: 0;
    margin-left: 15px;
    border-style: solid;
    border-width: 10px 5.5px 0 5.5px;
    border-color: #81b3d2 transparent transparent transparent;
}
.search-content .sorting-toggles a:first-child:hover {
    border-color:  transparent transparent black transparent;
}
.search-content .sorting-toggles a:last-child:hover {
    border-color: black transparent transparent transparent;
}
.search-content .sorting-toggles a:first-child:active {
    border-color:  transparent transparent #81b3d2 transparent;
}
.search-content .sorting-toggles a:last-child:active {
    border-color: #81b3d2 transparent transparent transparent;
}
.search-content .info-search .found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}
.sorting-block {
    font-size: 12px;
    line-height: 18px;
}
.byprice {
    color: #81b3d2;
}
.housing-name {
    color: #000;
}
.bytype,
.byrating {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
    color: #cacaca;
    /*color: #cacaca;
    border-bottom: 1px dotted #81b3d2;*/
}
.displayed-content li {
    padding: 29px 72px 25px 72px;
    border-top: 1px solid #e5e5e5;
}
.displayed-content li {
    border-top: 1px solid #e5e5e5;
}
.displayed-content li:last-child {
    border-bottom: 1px solid #e5e5e5;
}
.displayed-content li div {
    display: inline-block;
    vertical-align: top;
}
.displayed-content .info-panel {
    margin-left: 25px;
    width: 262px;
}
.displayed-content .housing-name {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
}
.displayed-content li .housing-type {
    margin-right: 35px;
    margin-bottom: 12px;
}
.displayed-content li:nth-child(2) .housing-type {
    margin-right: 61px;
}
.displayed-content li:last-child .housing-type {
    margin-right: 18px;
}
.displayed-content .details {
    display: inline-block;
    text-align: center;
    background-color: #81b3d2;
    width: 110px;
    height: 27px;
    line-height: 27px;
    margin-left: 3px;
}
.displayed-content .reservation {
    display: inline-block;
    text-align: center;
    width: 142px;
    height: 27px;
    line-height: 27px;
    background-color: #766357;
}
.displayed-content .housing-name:hover {
    color: #81b3d2;
}
.displayed-content .housing-name:active {
    opacity: 0.3;
}
.displayed-content .details:hover {
    background-color: #669ec0;
}
.displayed-content .details:active {
    background-color: #5496bd;
    color: #94b9d2; 
}
.displayed-content .reservation:hover {
    background-color: #604e43;
}
.displayed-content .reservation:active {
    background-color: #503e33;
    color: #928a85;
}
.displayed-content li .rating-block {
    float: right;
    width: 117px;
}
.displayed-content li .rating-block .stars {
    font-size: 24px;
    letter-spacing: 3.5px;
    margin-bottom: 45px;
    margin-left: 22px;
}
.displayed-content li:nth-child(2) .stars {
    margin-left: 45px;
}
.displayed-content li:last-child .stars {
    margin-left: 69px;
}
.details,
.reservation {
    font-weight: 700;
    color: #fff;
}
.stars {
    color: #81b3d2;
}
.rating {
    width: 91px;
    height: 27px;
    padding-left: 15px;
    color: #666666;
    background-color: #f2f2f2;
}
