@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ptsans.woff') format('woff'),
         url('../fonts/ptsans.woff2') format('woff2');
    src: local('PT Sans'), local('PTSans-Regular');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ptsansbold.woff') format('woff'),
         url('../fonts/ptsansbold.woff2') format('woff2');
    src: local('PT Sans Bold'), local('PTSans-Bold');
}

body {
    

    font-family: 'PT Sans', 'Tahoma', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
.main-navigation ul,
.footer-social ul,
.displayed-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-navigation ul {
    margin-left: 73px;
    
}
a {
    text-decoration: none;
}
.main-header-index {
    position: absolute;
    top: 0px;
    z-index: 3;
    background-color: #fff;
    width: 1200px;
    min-height: 56px;
    /*box-shadow: 0 0px 8px rgba(0, 1, 1, 0.2);*/
}
.main-header {
    min-height: 56px;
}
.site-logo {
    position: absolute;
    top: 0;
    left: 532px;
    width: 138px;
    height: 70px;
}
.site-logo-hotels {
    top: 0;
    left: 605px;
}
.main-navigation {
    
}
.main-navigation a {
    line-height: 26px;
    font-weight: bold;
    color: #000;
}
.main-navigation ul {
    font-size: 0;
}
.main-navigation li {
    display: inline-block;
    font-size: 14px;
    margin-right: 145px;
    margin-top: 14px;
    vertical-align: top;
}
.main-navigation li:nth-child(2) {
    margin-right: 388px;
}
.main-navigation li:nth-child(3) {
    margin-right: 166px;
}
.main-navigation li:last-child {
    margin-right: 0;
}
.welcome-block h1,
.visitsedona a,
.housing-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}
.for-index {
    position: relative;
    top: -20px;
}
/*marker*/
/* {
    outline: 1px dashed #f0f;
}*/
/*.hr {
    width: 1200px;
    height: 1px;
    background-color: #e5e5e5;
}*/
.welcome-block h1 {
    padding-top: 627px;
    padding-left: 380px;
    /*padding: 627px 380px;*/
    text-align: center;
    width: 442px;
}
.welcome-block p {
    padding-top: 9px;
    padding-left: 355px;

    line-height: 26px;
}

.info-block {
    width: 100%;
    min-height: 256px;
    margin-top: 3px;
    background-image: url('../img/infoblock_img1.jpg');
    background-repeat: no-repeat;
    background-size: 800px 256px;
    background-position: 400px;
}

.info-block .text-block h3 {
    width: 150px;
    text-align: center;
    margin: 0;
    margin-left: 126px;
    padding-top: 54px;
}
.info-block .text-block p {
    width: 280px;
    text-align: center;
    padding: 10px 59px 0px 59px;
    
}
.info-block .text-block p:last-child {
    padding: 7px 59px;

}
.info-block .text-block {
    width: 400px;
    height: 256px;
    background-color: #81b3d2;
    color: #fff;
}

.features-block .feature-item {
    width: 300px;
    padding-top: 140px;
}
.features-block {
    height: 328px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.features-block .feature-item:first-child {
    float: left;
    margin: 0 106px 0 50px;
}
.features-block .feature-item:nth-child(2) {
    float: left;
    
}
.features-block .feature-item:nth-child(3) {
    float: right;
    margin-right: 60px;
}
.features-block .feature-item h3 {
    padding: 2px 117px;
}
.features-block .feature-item:nth-child(2) h3 {
    padding: 0 123px;
}
.features-block .feature-item p {
    
    text-align: center;
}
.features-block .feature-item:nth-child(2) p {
    padding: 2px 0;
}
.features-info-block {
    min-height: 255px;
}
.features-info-block .feature-info-item h3 {
    margin: 0;
    width: 160px;
    text-align: center;
    padding: 47px 50px 22px 69px;
}
.features-info-block .feature-info-item p:first-of-type {
    margin: 0;
    padding: 0px 121px;
}
/*.features-info-block .feature-info-item:nth-child(2) p:nth-of-type(2) {
    padding: 7px 0px 0 12px;
}*/
.features-info-block .feature-info-item p:last-of-type {
    padding: 6px 19px;
    text-align: center;
    width: 260px;
}
.features-info-block .feature-info-item {
    display: inline-block;
    width: 305px;
    vertical-align: top;

}
.features-info-block .feature-info-item:first-child {
    margin: 0px 50px;
    
}
.features-info-block .feature-info-item:nth-child(2) {
    margin: 0px 85px 0px 50px;

}
.features-info-block .feature-info-item:nth-child(3) {

}
.search-block {
    min-height: 290px;
}
.search-block h2 {
    margin: 0;
    padding: 54px 0px 0px 450px;
}
.search-block p {
    width: 370px;
    text-align: center;
    padding: 31px 434px 0px 434px;
    margin: 0;
}
.search-block .btn-hotels {
    display: block;
    text-align: center;
    width: 568px;
    height: 86px;
    line-height: 86px;
    background-color: #766357;
    margin: 24px 0 0 316px;
}
footer {
    width: 1200px;
    min-height: 120px;
}
.footer-index {
    position: absolute;
    top: 2645px;

    z-index: 3;
    background-color: #fff;
    opacity: 0.9;
    width: 1200px;
    min-height: 120px;    
}
.visitsedona {
    float: left;
    margin: 45px 258px 0 132px;
}
.footer-social {
    float: left;
    margin: 33px 0 0 0;

}
.footer-social ul {
    font-size: 0;
}
.footer-social li {
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: #81b3d2;
    margin: 0 5px 0 0;
}
.footer-social li:last-child {
    margin: 0;
}
.footer-copyright {
    float: right;

    margin: 40px 100px 0 0;
}
.footer-copyright span {
    display: inline-block;
    vertical-align: top;
}
.footer-copyright a {
    margin: 0 0 0 7px;
}
.visitsedona a {
    color: #000;
}
.welcome-block p,
.footer-copyright span {
    line-height: 26px;
}
.search-block p {
    line-height: 24px;
}
.search-block h2 {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}
.features-info-block {
    font-size: 0;
}
.features-info-block .feature-info-item p {
    font-size: 14px;
}
.text-block h3,
.feature-item h3,
.feature-info-item h3 {
    font-size: 21px;
    font-weight: 700;
}
.filter-block h4,
.cost-per-day h4 {
    font-size: 16px;
    font-weight: 700;
}
.search-block .btn-hotels {
    font-size: 21px;
    line-height: 26px;
    color: #fff;
}
.features-info-block {
    background-color: #eee;
}
.welcome-block {
    width: 100%;
    height: 780px;
    background-image: url("../img/welcome_img.jpg");
}


/* HOTELS page ==============================================================================================================*/
.filters-block h4 {
    margin: 0;
}
.filters-block {
    width: 1200px;
    min-height: 217px;
    color: #fff;
    background-image: url("../img/filter_background.jpg");
    margin-bottom: 30px;

}
.filters-block .filter-form {
}
.filters-block .filter-form fieldset {
    display: inline-block;
    vertical-align: top;


}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.filters-block .filter-form .filter-block {
    width: 140px;
    height: 180px;
    margin: 25px 45px 0px 70px;
}
.filters-block .filter-block label {
    display: inline-block;
    width: 100px;
    padding: 27px 0px 0px 16px;
    margin: 0;
}
.filters-block .filter-block:first-child {
}
.filters-block .filter-block:nth-child(2) {
    margin-right: 329px;
}
.filters-block .cost-per-day {
    width: 340px;
    height: 94px;
    margin: 26px 0 0 0;
}
.filters-block .cost-per-day .price-range {
    width: 249px;
    height: 26px;
    padding: 6px 0 0 64px;
    margin: 11px 10px 0 10px;
    border: 2px solid #fff;
}
.cost-per-day .price-range label:first-child {
    margin-right: 70px;
}
.filters-block .cost-per-day input {
    width: 47px;
    background: transparent;
    border: 0;
    color: #fff;
    padding: 0px 5px;
}
.filters-block .filter-form {
    position: relative;
}
.filter-form .btn-show {
    position: absolute;
    top: 148px;
    left: 895px;
    font-family: 'PT Sans', 'Tahoma', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #fff;
    background: transparent;
    width: 137px;
    height: 36px;
    border: 2px solid white;
}
.search-content .info-search {
    font-size: 0;
}
.search-content .info-search div {
    display: inline-block;
    vertical-align: top;
}
.search-content .info-search .total-found {
    margin: 0 0 0 70px;
}
.search-content .info-search .sorting-block {
    margin: 6px 0 0 50px;
}
.search-content .sorting-block a:first-of-type {
    padding: 0 33px 0 35px;
}
.search-content .sorting-block a:nth-of-type(2) {
    padding: 0;
}
.search-content .sorting-block a:last-of-type {
    padding: 0 30px;
}
.search-content .info-search .sorting-toggles {
    font-size: 0px;
    margin-left: 472px;
    margin-top: 10px;
    vertical-align: top;
}
.search-content .sorting-toggles a {
    display: inline-block;
    vertical-align: top;
}
.search-content .sorting-toggles a:first-child {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 10px 5.5px;
    border-color: transparent transparent #cccccc transparent;

}
.search-content .sorting-toggles a:last-child {
    width: 0;
    height: 0;
    margin-left: 15px;
    border-style: solid;
    border-width: 10px 5.5px 0 5.5px;
    border-color: #81b3d2 transparent transparent transparent;
}
.search-content .info-search .found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}
.sorting-block {
    font-size: 12px;
    line-height: 18px;
}
.byprice {
    color: #81b3d2;
}
.housing-name {
    color: #000;
}
.bytype,
.byrating {
    /*text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;*/
    
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}
.displayed-content li {
    border-top: 1px solid #e5e5e5;
}
.displayed-content li div {
    display: inline-block;
}
.details,
.reservation {
    font-weight: 700;
    color: #fff;
}
.details {
    background-color: #81b3d2;
}
.reservation {
    background-color: #766357;
}
.stars {
    color: #81b3d2;
}
.rating {
    width: 91px;
    height: 27px;
    padding-left: 15px;
    color: #666666;
    background-color: #f2f2f2;
}


/* double-filter*/

.range-controls {
    position: relative;
    height: 60px;

    width: 325px;
    border-radius: 5px;
    overflow: hidden;
}
.scale {
    margin-top: 20px;
    height: 2px;
    background: #8c8080;
}
.bar {
    height: 2px;
    background: #fff;
}
.toggle {
    position: absolute;
    top: 11px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
}
.min-toggle {
    left: 10px;
}
.max-toggle {
    left: 262px;
}
/* ---------------*/